<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.ERPMapper">
	<cache />
	
	<insert id="register" parameterType="LoginVo">
		insert into login(
			id, pw)
		values(
		#{id}, #{pw}
		)	
	</insert>
	
	
	<insert id="insert_staff" parameterType="ERPVo">
		insert into staff(
			)
		values(
		
		)	
	</insert>
	
	</mapper>